<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/test.css}" rel="stylesheet">
    <title>Update Student</title>
    <th:block th:include="~{/header.html :: head}"></th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="main_contents">
        <div id="sub_content">
            <form action="update" th:action="@{/updatestuend}" method="post" enctype="multipart/form-data" th:object="${student}" onsubmit="validateForm(event)">
                <h2 class="col-md-6 offset-md-2 mb-5 mt-4">Student Details</h2>
                <input type="hidden" th:field="*{id}"/>

                <div class="image d-flex flex-column justify-content-center align-items-center">
                    <img id="selectedPhoto" th:src="@{{photoUrl}(photoUrl=${photoUrl})}"
                         alt="Selected Photo"
                         class="rounded-circle me-2" height="100" width="100" onclick="openFileInput()">
                    <p id="photoError" style="color: red;"></p>
                </div>

                <input type="file" class="custom-file-input" th:field="*{file}" id="photoInput" name="file" style="display: none;">
                <div class="custom-file-label" style="cursor: pointer;" align="center"></div>

                <div class="row mb-4">
                    <div class="col-md-2"></div>
                    <label for="name" class="col-md-2 col-form-label">Name</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" th:field="*{name}" id="name"/>
                        <p id="nameError" style="color: red;"></p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-2"></div>
                    <label for="dob" class="col-md-2 col-form-label">DOB</label>
                    <div class="col-md-4">
                        <input type="date" class="form-control" th:field="*{dob}" id="dob"/>
                        <p id="dobError" style="color: red;"></p>
                    </div>
                </div>
                <fieldset class="row mb-4">
                    <div class="col-md-2"></div>
                    <legend class="col-form-label col-md-2 pt-0">Gender</legend>
                    <div class="col-md-4">
                        <div class="form-check-inline">
                            <input type="radio" class="form-check-input" th:field="*{gender}" id="male" value="Male"/>
                            <label for="male"> Male </label>
                        </div>
                        <div class="form-check-inline">
                            <input type="radio" class="form-check-input" th:field="*{gender}" id="female" value="Female"/>
                            <label for="female"> Female </label>
                        </div>
                        <p id="genderError" style="color: red;"></p>
                    </div>
                </fieldset>

                <div class="row mb-4">
                    <div class="col-md-2"></div>
                    <label for="phone" class="col-md-2 col-form-label">Phone</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" th:field="*{phone}" id="phone"/>
                        <p id="phoneError" style="color: red;"></p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-2"></div>
                    <label for="education" class="col-md-2 col-form-label">Education</label>
                    <div class="col-md-4">
                        <select class="form-select" th:field="*{education}" id="education">
                            <option value="Bachelor of Information Technology">Bachelor of Information Technology</option>
                            <option value="Diploma in IT">Diploma in IT</option>
                            <option value="Bachelor of Computer Science">Bachelor of Computer Science</option>
                        </select>
                    </div>
                </div>

                <fieldset class="row mb-4">
                    <div class="col-md-2"></div>
                    <legend class="col-form-label col-md-2 pt-0">Attend</legend>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div th:each="course : ${course}">
                                <input class="form-check-input" type="checkbox" name="attend"
                                       th:id="'attend_' + ${course.id}" th:value="${course.id}"
                                       th:checked="${#lists.contains(attend.![course.id], course.id)}">
                                <label class="form-check-label" th:for="'attend_' + ${course.id}"
                                       th:text="${course.course_name}"></label>
                            </div>
                        </div>
                        <p id="attendError" style="color: red;"></p>
                    </div>
                </fieldset>
                <div class="row mb-4">
                    <div class="col-md-4"></div>

                    <div class="col-md-4">
                        <button type="reset" class="btn btn-danger ">Reset</button>
                        <button type="submit" class="btn btn-secondary col-md-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Update
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function validateForm(event) {
        event.preventDefault();
        const nameInput = document.getElementById("name");
        const dobInput = document.getElementById("dob");
        const genderInputs = document.querySelectorAll('input[name="gender"]');
        const phoneInput = document.getElementById("phone");
        const attendInputs = document.querySelectorAll('input[name="attend"]');
        let errors = {};

        if (!nameInput.value.trim()) {
            errors.name = "Name is required";
        }

        if (!dobInput.value.trim()) {
            errors.dob = "DOB is required";
        }

        let genderSelected = false;
        genderInputs.forEach(input => {
            if (input.checked) {
                genderSelected = true;
            }
        });
        if (!genderSelected) {
            errors.gender = "You need to choose gender!";
        }

        if (!phoneInput.value.trim()) {
            errors.phone = "Phone number is required";
        }

        let attendSelected = false;
        attendInputs.forEach(input => {
            if (input.checked) {
                attendSelected = true;
            }
        });
        if (!attendSelected) {
            errors.attend = "You need to choose attend";
        }

        displayErrors(errors);

        if (Object.keys(errors).length === 0) {
            event.target.submit();
        }
    }

    function displayErrors(errors) {
        document.getElementById("nameError").innerText = errors.name || "";
        document.getElementById("dobError").innerText = errors.dob || "";
        document.getElementById("genderError").innerText = errors.gender || "";
        document.getElementById("phoneError").innerText = errors.phone || "";
        document.getElementById("attendError").innerText=errors.attend||"";
    }

    document.getElementById("name").addEventListener("input", function() {
        document.getElementById("nameError").innerText = "";
    });

    document.getElementById("dob").addEventListener("input", function() {
        document.getElementById("dobError").innerText = "";
    });

    document.querySelectorAll('input[name="gender"]').forEach(function(input) {
        input.addEventListener("change", function() {
            document.getElementById("genderError").innerText = "";
        });
    });

    document.getElementById("phone").addEventListener("input", function() {
        document.getElementById("phoneError").innerText = "";
    });

    document.querySelectorAll('input[name="attend"]').forEach(function(input) {
        input.addEventListener("change", function() {
            document.getElementById("attendError").innerText = "";
        });
    });

    function openFileInput() {
        const photoInput = document.getElementById("photoInput");
        photoInput.click();
    }

    const photoInput = document.getElementById("photoInput");
    const selectedPhoto = document.getElementById("selectedPhoto");
    const customFileLabel = document.querySelector(".custom-file-label");

    photoInput.addEventListener("change", function myfunction() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                selectedPhoto.src = e.target.result;
            };
            reader.readAsDataURL(file);
            customFileLabel.textContent = file.name;
        } else {
            selectedPhoto.src = "";
            customFileLabel.textContent = "Click to choose file";
        }
    });
</script>
<th:block th:include="~{/header.html :: body}"></th:block>
</body>
</html>